{% if account %}
	<p><form action="/account/{{ account.id }}/add_event/" method="post">
	{% csrf_token %}
		<table border="1">
			<tr><b>Add Event</b></tr>
			<tr>
				<td><b>Item</b></td>
				<td><input type="text" name="item" value=""/></td>
			</tr>
			<tr>
				<td><b>Date</b></td>
				<td><input type="date" name="date" value=""/></td>
			</tr>
			<tr>
				<td><b>Description</b></td>
				<td><textarea name="description" rows="3" cols="30"></textarea></td>
			</tr>
			<tr>
				<td><b>Income</b></td>
				<td><input type="number" name="income" value="0" step="0.01" min="0"/></td>
			</tr>
			<tr>
				<td><b>Expense</b></td>
				<td><input type="number" name="expense" value="0" step="0.01" min="0"/></td>
			</tr>
		</table>
		<input type="submit" name="add" value="Add"/>
		<input type="reset" name="reset" value="Reset"/>
	</form></p>
	{% if event_list %}
		<table border='1'>
			<tr>
				<th><b>Date</b></th>
				<th><b>Item</b></th>
				<th><b>Income</b></th>
				<th><b>Expense</b></th>
				<th><b>Description</b></th>
			</tr>
		{% for event in event_list %}
			<tr>
				<td>{{ event.date }}</td>
				<td>{{ event.item }}</td>
				<td>{{ event.income }}</td>
				<td>{{ event.expense }}</td>
				<td>{{ event.description }}</td>
				<form action="/event/{{ event.id }}/" method="post">
				{% csrf_token %}
					<td><input type="submit" name="action" value="Edit"/></td>
					<td><input type="submit" name="action" value="Delete"/></td>
				</form>
			</tr>
		{% endfor %}
		</table>
	{% endif %}
{% endif %}

