{% if plan %}
	<h1>{{plan.name}}</h1>
	<p><table border="1">
		<tr>
			<td><b>Cost</b></td>
			<td>{{ plan.cost }} RMB</td>
		</tr>
		<tr>
			<td><b>Saved Money</b></td>
			<td>{{ plan.saved_money }}</td>
		</tr>
		<tr>
			<td><b>Due</b></td>
			<td>{{ plan.due }}</td>
		</tr>
		<tr>
			<td><b>Status</b></td>
			<td>{{ plan.status }}</td>
		</tr>
		<tr>
			<td><b>Create Time</b></td>
			<td>{{ plan.create_time }}</td>
		</tr>
	</table></p>

	<p><form action="/saving_plan/{{ plan.id }}/add_progress/" method="post">
	{% csrf_token %}
		<table border='1'>
			<tr><b>Add Progress</b></tr>
			<tr>
				<td><b>Money</b></td>
				<td><input type="number" name="money" id="money" value="0" step="0.01"/></td>
				<td><input type="submit" value="Add"/></td>
			</tr>
		</table>
	</form>	</p>

	<p><table border='1'>
		<tr><b>Saving Progress</b></tr>
		{% if progress_list %}
			<tr>
				<th>Date</th>
				<th>Money</th>
			</tr>
			{% for p in progress_list %}
				<tr>
					<form action="/saving_plan/{{ plan.id }}/delete_progress/{{ p.id }}/" method="post">
					{% csrf_token %} 
						<td>{{p.date}}</td>
						<td>{{p.money}}</td>
						<td><input type="submit" value="Delete"/></td>
					</form>
				</tr>
			{% endfor %}
		{% else %}
			<tr>
				<td><b>No progress</b></td>
			</tr>
		{% endif %}
	</table></p>

{% endif %}
